table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    /* background-color: whitesmoke; */
    border: #d9dfe4 1px solid;
    border-bottom: none;
    margin-top: 5px;
}
.tbl-content{
    height: 470px;
    overflow-x:auto;
    margin-top: 0px;
    border: #d9dfe4 1px solid;
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    border: #000000;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
    border-bottom: #000000;
}

.tbl-header > table > thead > tr > th {
    text-align: center;
}

.tbl-content > table > tbody > tr > td {
    text-align: center;
}

.tbl-content > table > tbody > tr {
    cursor: pointer;
}

.tbl-content > table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
} 

.tbl-content > table > tbody > tr:hover {
    background-color: gainsboro;
}

load-more{
    text-align: center;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 3px;
} 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}