<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Visitor List</strong>
            </div>
            <div class="card-body">
                <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchText" id="searchText" name="searchText" (keyup)="searchItems()">
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="tbl-header">
                            <table >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Company</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                        <th>Photo</th>
                                        <th>QR Code</th>
                                    </tr>
                                </thead>
                            </table >
                        </div>
                        <div class="tbl-content">
                            <table class="table">
                                <tbody>
                                  <tr *ngFor="let visitor of visitor; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{visitor.name}}</td>
                                    <td>{{visitor.company}}</td>
                                    <td>{{visitor.email}}</td>
                                    <td>{{visitor.phone}}</td>
                                    <td>
                                        <img  style="height: 30px; width: 30px;" [src]="visitor.photo" class="rounded-circle z-depth-2">
                                    </td>
                                    <td>{{visitor.code}}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <div class="text-center" *ngIf="loadMoreButton">
                                <button type="button" class="btn btn-sm btn-success" (click)="loadMore()">
                                    Load more
                                    <img class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://datascrip.project-on.net/api/visitor/export" role="button">Export</a>
            </div>
        </div>
    </div>
</div>