<div class="jumbotron text-center">
    <p class="lead">
    <strong>Thank you for your registration.</strong><br>
    for further instructions on how to complete your account setup.</p>
    <h1 class="display-3" style="color: #055aa5;">SMART SOLUTION SECURITY</h1>
    <div class="row justify-content-md-center">
        <div class="col-2">
            <p class="lead"><strong>Ballroom Citywalk, 5th floor<br>Karet, Jakarta</strong>.</p>   
        </div>
        <div class="col-1">
            <p class="lead" ><strong>|</strong></p>   
        </div>
        <div class="col-2">
            <p class="lead"><strong>Thursday, 12th March 2020 <br> 01.00 - 07.00 PM</strong></p>   
        </div>
    </div>
</div>